# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [2]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
from thefuzz import fuzz 
from thefuzz import process 

df = pd.read_csv('candyhierarchy2017.csv')
df

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,90314359,No,Male,24,USA,MD,JOY,DESPAIR,MEH,DESPAIR,...,Fruit Stripe Gum,NaN,White and gold,NaN,Friday,NaN,NaN,NaN,NaN,NaN
2456,90314580,No,Female,33,USA,New York,MEH,DESPAIR,JOY,NaN,...,Capers,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 26)"
2457,90314634,No,Female,26,USA,Tennessee,MEH,DESPAIR,JOY,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(67, 35)"
2458,90314658,No,Male,58,Usa,North Carolina,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,90314802,No,Female,66,usa,Pennsylvania,DESPAIR,DESPAIR,JOY,DESPAIR,...,NaN,"You hit all my chocolate highlights, and broug...",White and gold,NaN,Sunday,1.0,NaN,NaN,NaN,"(19, 26)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [11]:
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# # df.info(verbose=True)
# df.columns
# df.duplicated().value_counts()
df.count()
# df.dtypes
# df.isnull().sum()

Internal ID                 2460
going out                   2350
gender                      2419
age                         2376
country                     2396
                            ...
Q12: MEDIA [Daily Dish]       85
Q12: MEDIA [Science]        1362
Q12: MEDIA [ESPN]             99
Q12: MEDIA [Yahoo]            67
Click Coordinates (x, y)    1605
Length: 120, dtype: int64

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

In [4]:
there are so many missing values. In Age section, it is object not int, wrong format. we have value inconsistency in Q4 and Q5.

SyntaxError: invalid syntax (1838778882.py, line 1)

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [6]:
column_names = {'Q1: GOING OUT?': 'going out' ,'Q2: GENDER': 'gender' , 'Q3: AGE': 'age' , 'Q4: COUNTRY' : 'country' , 'Q5: STATE, PROVINCE, COUNTY, ETC' : 'area' , 
                'Q7: JOY OTHER' : 'joy_other' , 'Q8: DESPAIR OTHER' : 'despair_other' , 'Q9: OTHER COMMENTS' : 'other_comment', 'Q10: DRESS' : 'dress' , 'Q11: DAY' : 'day'}
df.rename(columns = column_names , inplace = True)
newdf = df.drop("Internal ID" , axis = 'columns')
newdf.dropna(axis = "columns"  , thresh=1230 , inplace = True)
newdf.dropna(axis = "rows"  , thresh=60 , inplace = True  )
newdf.count()

going out                       1718
gender                          1769
age                             1745
country                         1758
area                            1738
                                ...
Q6 | York Peppermint Patties    1745
dress                           1697
day                             1716
Q12: MEDIA [Science]            1346
Click Coordinates (x, y)        1588
Length: 112, dtype: int64

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
# newdf[newdf['going out'].isna()]
mask = (newdf['going out'].isna())
newdf.loc[mask , 'going out'] = 'No'
newdf.loc[mask , 'going out']
newdf['going out'].isnull().sum()

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
# newdf['gender'].value_counts(dropna = False)
# newdf['gender'].dtype
mask_gender = newdf['gender'].isna()
newdf.loc[mask_gender , 'gender'] = "I'd rather not say"
newdf['gender'].value_counts(dropna = False)

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [ ]:
newdf['age'].value_counts(dropna= False)
# newdf['age'].astype('float')
mask_age = newdf['age']
newdf['age'] = pd.to_numeric(mask_age , errors = 'coerce')
impossible = newdf['age']>100 
newdf.loc[impossible , 'age'] = 100
newdf['age'].fillna(newdf['age'].mean() , inplace = True)
mask_na = newdf['age'].isna()
newdf[mask_na]

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
newdf['country']= df['Q4: COUNTRY']
newdf['country']= newdf['country'].str.lower().str.strip(' ')
newdf['country'].value_counts()
newdf.loc[newdf['country'] == 'the united states'  , 'country'] = 'united states'
newdf.loc[newdf['country'] == 'united state'  , 'country'] = 'united states'
newdf.loc[newdf['country'] == 'u.s.a.'  , 'country'] = 'united states'
newdf['country'].value_counts()
countires = ['states of  america' , 'canada' , 'uk', 'europe' , 'france' , 'mexico' , 'japan', 'netherlands' , 'costa rica', 'greece', 'ireland', 'korea', 'australia' , 'iceland' , 'scotland' , 'denmark', 'switzerland' , 'germany' , 'taiwan' ,'china' , 'spain' ]
for country in countires:
    matches = process.extract(country , newdf['country'] , limit = newdf.shape[0])
    print(matches)
    for potential_match in matches:
        if potential_match[1]>= 80:
            newdf.loc[newdf['country'] == potential_match[0] , 'country'] = country
newdf['country'].value_counts()

### 
9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [ ]:
newdf['area'].unique()

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [66]:
for x in range(5 , 109):
    q6 = newdf.iloc[: , x]
    m = q6.mode()
    # print(m)
    
    q6.fillna(m[0] , inplace = True)
    print(q6.isna().value_counts())

Q6 | 100 Grand Bar
False    1779
Name: count, dtype: int64
Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)
False    1779
Name: count, dtype: int64
Q6 | Any full-sized candy bar
False    1779
Name: count, dtype: int64
Q6 | Black Jacks
False    1779
Name: count, dtype: int64
Q6 | Bonkers (the candy)
False    1779
Name: count, dtype: int64
Q6 | Bonkers (the board game)
False    1779
Name: count, dtype: int64
Q6 | Bottle Caps
False    1779
Name: count, dtype: int64
Q6 | Box'o'Raisins
False    1779
Name: count, dtype: int64
Q6 | Broken glow stick
False    1779
Name: count, dtype: int64
Q6 | Butterfinger
False    1779
Name: count, dtype: int64
Q6 | Cadbury Creme Eggs
False    1779
Name: count, dtype: int64
Q6 | Candy Corn
False    1779
Name: count, dtype: int64
Q6 | Candy that is clearly just the stuff given out for free at restaurants
False    1779
Name: count, dtype: int64
Q6 | Caramellos
False    1779
Name: count, dtype: int64
Q6 | Cash, or other forms of legal tender
False    1779
Name: count, dtype: int64
Q6 | Chardonnay
False    1779
Name: count, dtype: int64
Q6 | Chick-o-Sticks (we don’t know what that is)
False    1779
Name: count, dtype: int64
Q6 | Chiclets
False    1779
Name: count, dtype: int64
Q6 | Coffee Crisp
False    1779
Name: count, dtype: int64
Q6 | Creepy Religious comics/Chick Tracts
False    1779
Name: count, dtype: int64
Q6 | Dental paraphenalia
False    1779
Name: count, dtype: int64
Q6 | Dots
False    1779
Name: count, dtype: int64
Q6 | Dove Bars
False    1779
Name: count, dtype: int64
Q6 | Fuzzy Peaches
False    1779
Name: count, dtype: int64
Q6 | Generic Brand Acetaminophen
False    1779
Name: count, dtype: int64
Q6 | Glow sticks
False    1779
Name: count, dtype: int64
Q6 | Goo Goo Clusters
False    1779
Name: count, dtype: int64
Q6 | Good N' Plenty
False    1779
Name: count, dtype: int64
Q6 | Gum from baseball cards
False    1779
Name: count, dtype: int64
Q6 | Gummy Bears straight up
False    1779
Name: count, dtype: int64
Q6 | Hard Candy
False    1779
Name: count, dtype: int64
Q6 | Healthy Fruit
False    1779
Name: count, dtype: int64
Q6 | Heath Bar
False    1779
Name: count, dtype: int64
Q6 | Hershey's Dark Chocolate
False    1779
Name: count, dtype: int64
Q6 | Hershey’s Milk Chocolate
False    1779
Name: count, dtype: int64
Q6 | Hershey's Kisses
False    1779
Name: count, dtype: int64
Q6 | Hugs (actual physical hugs)
False    1779
Name: count, dtype: int64
Q6 | Jolly Rancher (bad flavor)
False    1779
Name: count, dtype: int64
Q6 | Jolly Ranchers (good flavor)
False    1779
Name: count, dtype: int64
Q6 | JoyJoy (Mit Iodine!)
False    1779
Name: count, dtype: int64
Q6 | Junior Mints
False    1779
Name: count, dtype: int64
Q6 | Senior Mints
False    1779
Name: count, dtype: int64
Q6 | Kale smoothie
False    1779
Name: count, dtype: int64
Q6 | Kinder Happy Hippo
False    1779
Name: count, dtype: int64
Q6 | Kit Kat
False    1779
Name: count, dtype: int64
Q6 | LaffyTaffy
False    1779
Name: count, dtype: int64
Q6 | LemonHeads
False    1779
Name: count, dtype: int64
Q6 | Licorice (not black)
False    1779
Name: count, dtype: int64
Q6 | Licorice (yes black)
False    1779
Name: count, dtype: int64
Q6 | Lindt Truffle
False    1779
Name: count, dtype: int64
Q6 | Lollipops
False    1779
Name: count, dtype: int64
Q6 | Mars
False    1779
Name: count, dtype: int64
Q6 | Maynards
False    1779
Name: count, dtype: int64
Q6 | Mike and Ike
False    1779
Name: count, dtype: int64
Q6 | Milk Duds
False    1779
Name: count, dtype: int64
Q6 | Milky Way
False    1779
Name: count, dtype: int64
Q6 | Regular M&Ms
False    1779
Name: count, dtype: int64
Q6 | Peanut M&M’s
False    1779
Name: count, dtype: int64
Q6 | Blue M&M's
False    1779
Name: count, dtype: int64
Q6 | Red M&M's
False    1779
Name: count, dtype: int64
Q6 | Green Party M&M's
False    1779
Name: count, dtype: int64
Q6 | Independent M&M's
False    1779
Name: count, dtype: int64
Q6 | Abstained from M&M'ing.
False    1779
Name: count, dtype: int64
Q6 | Minibags of chips
False    1779
Name: count, dtype: int64
Q6 | Mint Kisses
False    1779
Name: count, dtype: int64
Q6 | Mint Juleps
False    1779
Name: count, dtype: int64
Q6 | Mr. Goodbar
False    1779
Name: count, dtype: int64
Q6 | Necco Wafers
False    1779
Name: count, dtype: int64
Q6 | Nerds
False    1779
Name: count, dtype: int64
Q6 | Nestle Crunch
False    1779
Name: count, dtype: int64
Q6 | Now'n'Laters
False    1779
Name: count, dtype: int64
Q6 | Peeps
False    1779
Name: count, dtype: int64
Q6 | Pencils
False    1779
Name: count, dtype: int64
Q6 | Pixy Stix
False    1779
Name: count, dtype: int64
Q6 | Real Housewives of Orange County Season 9 Blue-Ray
False    1779
Name: count, dtype: int64
Q6 | Reese’s Peanut Butter Cups
False    1779
Name: count, dtype: int64
Q6 | Reese's Pieces
False    1779
Name: count, dtype: int64
Q6 | Reggie Jackson Bar
False    1779
Name: count, dtype: int64
Q6 | Rolos
False    1779
Name: count, dtype: int64
Q6 | Sandwich-sized bags filled with BooBerry Crunch
False    1779
Name: count, dtype: int64
Q6 | Skittles
False    1779
Name: count, dtype: int64
Q6 | Smarties (American)
False    1779
Name: count, dtype: int64
Q6 | Smarties (Commonwealth)
False    1779
Name: count, dtype: int64
Q6 | Snickers
False    1779
Name: count, dtype: int64
Q6 | Sourpatch Kids (i.e. abominations of nature)
False    1779
Name: count, dtype: int64
Q6 | Spotted Dick
False    1779
Name: count, dtype: int64
Q6 | Starburst
False    1779
Name: count, dtype: int64
Q6 | Sweet Tarts
False    1779
Name: count, dtype: int64
Q6 | Swedish Fish
False    1779
Name: count, dtype: int64
Q6 | Sweetums (a friend to diabetes)
False    1779
Name: count, dtype: int64
Q6 | Take 5
False    1779
Name: count, dtype: int64
Q6 | Tic Tacs
False    1779
Name: count, dtype: int64
Q6 | Those odd marshmallow circus peanut things
False    1779
Name: count, dtype: int64
Q6 | Three Musketeers
False    1779
Name: count, dtype: int64
Q6 | Tolberone something or other
False    1779
Name: count, dtype: int64
Q6 | Trail Mix
False    1779
Name: count, dtype: int64
Q6 | Twix
False    1779
Name: count, dtype: int64
Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein
False    1779
Name: count, dtype: int64
Q6 | Vicodin
False    1779
Name: count, dtype: int64
Q6 | Whatchamacallit Bars
False    1779
Name: count, dtype: int64
Q6 | White Bread
False    1779
Name: count, dtype: int64
Q6 | Whole Wheat anything
False    1779
Name: count, dtype: int64
Q6 | York Peppermint Patties
False    1779
Name: count, dtype: int64
dress
False    1779
Name: count, dtype: int64

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
# newdf['dress'].value_counts(dropna = False)
newdf['dress'].fillna('never seen this before' , inplace = True)
newdf['dress'].value_counts(dropna = False)
# newdf['day'].dtype

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [ ]:
newdf['day'].value_counts(dropna = False)
newdf['day'].fillna('other' , inplace = True)
newdf['day'].dtype
newdf['day']=newdf['day'].astype('category')
newdf['day'].dtype

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

### 14 - write a summary about all the cleaning steps

In [ ]:
1- identify the problem with the data, using isna, value_counts, unique, dtype, describe. 
2- check for duplicates
3- fix mistakes: fill nan values, fix the type of the data, fix the values that are over the possible range.
4- check